<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meal_type %>
    <%= form.text_field :meal_type %>
  </div>

  <div class="field">
    <%= form.label :calory %>
    <%= form.number_field :calory %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.number_field :protein %>
  </div>

  <div class="field">
    <%= form.label :carbohydrate %>
    <%= form.number_field :carbohydrate %>
  </div>

  <div class="field">
    <%= form.label :fat %>
    <%= form.number_field :fat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
