<p id="notice"><%= notice %></p>

<p>
  <strong>Meal type:</strong>
  <%= @entry.meal_type %>
</p>

<p>
  <strong>Calory:</strong>
  <%= @entry.calory %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @entry.protein %>
</p>

<p>
  <strong>Carbohydrate:</strong>
  <%= @entry.carbohydrate %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @entry.fat %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
